<div>
  <div>
    <p>Sport store products by categories</p>
  </div>
  <table>
    <tr>
      <td>
        <div>
            <div>
              <button (click)="resetCategory()">Home</button>
            </div>

            <div *ngFor="let category of categories">
              <button (click)="setCategory(category)">{{category}}</button>
            </div>
        </div>
      </td>
      <td *ngFor="let product of products">
        <div>
          <div>
            <table>
              <tr>
                <td>
                  <p>{{product.name}}</p>
                </td>
                <td>
                  <p>{{product.price | currency:"2.2-2":"$"}}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

