<div>
  <div>
    <p>Sport store products by categories</p>
  </div>
  <table>
    <tr>
      <td>
        <div>
            <div>
              <button (click)="resetCategory()">Home</button>
            </div>

            <div *ngFor="let category of categories">
              <button (click)="setCategory(category)" [class.buttonActive]="currentcategory == category">{{category}}</button>
            </div>
        </div>
      </td>
      <td *ngFor="let product of products">
        <div>
          <div>
            <table>
              <tr>
                <td>
                  <p>{{product.name}}</p>
                </td>
                <td>
                  <p>{{product.price | currency:"2.2-2":"$"}}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <select [value]="countPerPage" #perpageCount (change)="changePageSize(perpageCount.value)">
          <option value="3">3 per page</option>
          <option value="4">4 per page</option>
          <option value="6">6 per page</option>
          <option value="8">8 per page</option>
        </select>
      </td>
      <td>
        <button *ngFor="let page of pageNumbers" [class.buttonActive]="page == currentPageIndex" (click)="changePage(page)">{{page}}</button>
      </td>
    </tr>
  </table>
</div>

